.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}
.ui-dialog {
    width: 100%;
}
#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu > li.user-header {
    height: auto!important;
}

a.dropdown-toggle {
    background-color: #3c8dbc!important;
}
#idCliente{
    width: 10px;
}

a#logout {
    color: #3c8dbc!important;
    background: transparent;
}

@media (max-width: 768px) {
    body .control-sidebar {
        padding-top:100px;
    }
}

div.ui-button, .ui-splitbutton {
    display: inline-block;
    zoom: 1;
    float: right;
}
.ui-datatable {
    margin-bottom: 25px
}

.ui-datatable .ui-datatable-header {
    text-align: right !important;
}

.ui-button-text-only .ui-button-text {
    padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
    visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.ui-datatable.borderless tbody td {
    border-style: none;
}