<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ul class="sidebar-menu tree" data-widget="tree">
		<li><p:link outcome="/index" onclick="clearBreadCrumbs()">
				<i class="fa fa-home"></i>
				<span>Home</span>
			</p:link></li>
		<li class="header">General</li>
		<li class="treeview"><p:link class="dropdown-toggle">
				<i class="fa fa-users"></i>
				<span>Estudiante</span>
			</p:link>

			<ul class="treeview-menu" data-widget="collapse">
				
					
					<li><p:link outcome="/inscripciones">
						<i class="fa fa-list"></i>
						<span>Inscripciones</span>
					</p:link></li>

			</ul></li>
	</ul>
</ui:composition>