<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ul class="nav navbar-nav">
		<li><p:link outcome="/index" onclick="clearBreadCrumbs()">
				<i class="fa fa-home"></i>
				<span>Home</span>
			</p:link></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle"
			data-toggle="dropdown">Cars <span class="caret"></span> <i
				class="fa fa-car"></i>
		</a>

			<ul class="dropdown-menu" role="menu">
				<li><p:link outcome="/car-list">
						<span>List cars</span>
						<i class="fa fa-th-list"></i>
					</p:link></li>
				<li><p:link outcome="/car-form">
						<span>New car</span>
						<i class="fa fa-plus-circle"></i>
					</p:link></li>

				<li><p:link outcome="/clientes">
						<span>Clientes</span>
						<i class="fa fa-user"></i>
					</p:link></li>
			</ul></li>
	</ul>

</ui:composition>