<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="#{layoutMB.template}" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="renderBreadCrumb" value="false" />

	<ui:define name="header">
		<style>
body .ui-panel.ui-widget.box-success.box-solid .ui-panel-title {
	color: #fff;
	font-size: small;
}

body .ui-panel.ui-widget.box-default.box-solid .ui-panel-title {
	color: #fff;
	font-size: small;
}
</style>
	</ui:define>

	<ui:define name="title">


	</ui:define>

	<ui:define name="body">

		<div class="ui-fluid">
			<h:form id="formPrincipal" enctype="multipart/form-data">
				<div align="left">
					<H1>
						Periodo:

						<h:outputText value="#{inscripcionesController.periodo.nombre}" />
					</H1>
					<H1>
						Facultad:

						<h:outputText
							value="#{inscripcionesController.carrera.facultad.nombre}" />
					</H1>

					<H1>
						Carrera:

						<h:outputText value="#{inscripcionesController.carrera.nombre}" />
					</H1>

					<h1>
						Datos del <strong>estudiante</strong>
					</h1>

					<p:panelGrid columns="4" id="panelterminal"
						style="background:white;padding: 3px;-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);"
						columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3"
						layout="grid"
						styleClass="ui-panelgrid-blank ui-fluid box box-info">

						<h:outputText value="Apellidos:"
							style="font-weight: bold;font-size: 15px;" />
						<h:outputText
							value="#{inscripcionesController.estudiante.apellidos}"
							style="font-size: 15px;" />
						<h:outputText value="Nombres:"
							style="font-weight: bold;font-size: 15px;" />
						<h:outputText
							value="#{inscripcionesController.estudiante.nombres}"
							style="font-size: 15px;" />

						<h:outputText value="Email:"
							style="font-weight: bold;font-size: 15px;" />
						<h:outputText value="#{inscripcionesController.estudiante.mail}"
							style="font-size: 15px;" />
						<h:outputText value="Teléfono:"
							style="font-weight: bold;font-size: 15px;" />
						<h:outputText
							value="#{inscripcionesController.estudiante.telefono}"
							style="font-size: 15px;" />



					</p:panelGrid>
				</div>

				<br />
				<center>
					<p:commandButton icon="fa fa-edit" style="width: min-content"
						title="AGREGAR" value="AGREGAR" onclick="PF('dlg1').show();">

					</p:commandButton>
				</center>
				<br />
				<p:dataTable id="tblDatos" var="item" widgetVar="tblDatos"
					reflow="true" value="#{inscripcionesController.listadetalles}"
					rows="10" paginator="true" styleClass="box box-primary"
					style="width:100%;-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);"
					emptyMessage="No existen registros">


					<f:facet name="header">

						<p:panelGrid columns="2" layout="grid"
							styleClass="ui-panelgrid-blank">

							<p:panelGrid layout="grid" columns="4" style="float:left"
								columnClasses="ui-grid-col-2, ui-grid-col-4,ui-grid-col-4,ui-grid-col-1">
								<h:commandLink title="Exportar Excel" immediate="true"
									style="width: min-content;">
									<p:graphicImage value="/resources/images/excel.ico"
										width="30px" />
									<p:dataExporter type="xls" target="tblDatos" fileName="Costos" />
								</h:commandLink>
								<h:outputText value="Buscar en Todos los Campos:   " />
								<p:inputText id="globalFilter"
									onkeyup="PF('tblDatos').filter();hideBar()" style="width:150px"
									placeholder="Ingrese Parámetro....">
									<p:ajax event="keyup" />
								</p:inputText>

								<p:commandButton style="width: min-content;float:rigth"
									id="toggler" type="button" icon="fa fa-list" />
								<p:columnToggler datasource="tblDatos" trigger="toggler" />

							</p:panelGrid>
							<p:commandButton icon="fa fa-refresh" style="width: min-content;"
								styleClass="btn-success" title="Actualizar Lista"
								action="#{inscripcionesController.init()}" update="tblDatos" />
						</p:panelGrid>
					</f:facet>



					<p:column filterBy="#{item.carreraMateria.horario.materia.nombre}"
						sortBy="#{item.carreraMateria.horario.materia.nombre}"
						filterMatchMode="contains" headerText="MATERIA">
						<h:outputText
							value="#{item.carreraMateria.horario.materia.nombre}" />
					</p:column>

					<p:column filterBy="#{item.carreraMateria.grupo}"
						sortBy="#{item.carreraMateria.grupo}" filterMatchMode="contains"
						headerText="PARALELO">
						<h:outputText value="#{item.carreraMateria.grupo}" />
					</p:column>

					<p:column filterBy="#{item.carreraMateria.aula}"
						sortBy="#{item.carreraMateria.aula}" filterMatchMode="contains"
						headerText="AULA">
						<h:outputText value="#{item.carreraMateria.aula}" />
					</p:column>
					<p:column filterBy="#{item.carreraMateria.horario.lunes}"
						sortBy="#{item.carreraMateria.horario.lunes}"
						filterMatchMode="contains" headerText="LUNES">
						<h:outputText value="#{item.carreraMateria.horario.lunes}" />
					</p:column>
					<p:column filterBy="#{item.carreraMateria.horario.martes}"
						sortBy="#{item.carreraMateria.horario.martes}"
						filterMatchMode="contains" headerText="MARTES">
						<h:outputText value="#{item.carreraMateria.horario.martes}" />
					</p:column>
					<p:column filterBy="#{item.carreraMateria.horario.miercoles}"
						sortBy="#{item.carreraMateria.horario.miercoles}"
						filterMatchMode="contains" headerText="MIERCOLES">
						<h:outputText value="#{item.carreraMateria.horario.miercoles}" />
					</p:column>
					<p:column filterBy="#{item.carreraMateria.horario.jueves}"
						sortBy="#{item.carreraMateria.horario.jueves}"
						filterMatchMode="contains" headerText="JUEVES">
						<h:outputText value="#{item.carreraMateria.horario.jueves}" />
					</p:column>
					<p:column filterBy="#{item.carreraMateria.horario.viernes}"
						sortBy="#{item.carreraMateria.horario.viernes}"
						filterMatchMode="contains" headerText="VIERNES">
						<h:outputText value="#{item.carreraMateria.horario.viernes}" />
					</p:column>
					<p:column filterBy="#{item.carreraMateria.horario.sabado}"
						sortBy="#{item.carreraMateria.horario.sabado}"
						filterMatchMode="contains" headerText="SABADO">
						<h:outputText value="#{item.carreraMateria.horario.sabado}" />
					</p:column>



					<p:column headerText="Opciones" width="150" exportable="false">
						<!--  	action="#{tipoEmpaqueController.eliminar()}"-->

						<p:commandButton update="@([id$=tblDatos])" icon="fa fa-trash"
							style="width: min-content" title="eliminar" process="tblDatos"
							styleClass="btn-danger">
							<f:setPropertyActionListener value="#{item}"
								target="#{inscripcionesController.detalle}"></f:setPropertyActionListener>
							<p:confirm header="Confirmar Eliminación materia"
								message="¿Está usted seguro?" icon="fa fa-anchor" />
						</p:commandButton>

					</p:column>

				</p:dataTable>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
					styleClass="box-danger box-solid" responsive="true">
					<div style="display: flex; justify-content: flex-end;">
						<p:commandButton value="SI" type="button"
							styleClass="btn-material btn-primary ui-confirmdialog-yes"
							icon="fa fa-check" />
						<p:commandButton value="NO" type="button"
							styleClass="btn-material btn-danger ui-confirmdialog-no"
							icon="fa fa-close" />
					</div>
				</p:confirmDialog>


				<p:dialog header="Inscripción Materias" widgetVar="dlg1"
					modal="true" position="center" width="90%" height="80vh">



					<p:dataTable id="tblDatos1" var="item" widgetVar="tblDatos1"
						reflow="true" value="#{inscripcionesController.ofertas}" rows="10"
						paginator="true" styleClass="box box-primary"
						style="width:100%;-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);"
						emptyMessage="No existen registros">


						<p:column filterBy="#{item.horario.materia.nombre}"
							sortBy="#{item.horario.materia.nombre}"
							filterMatchMode="contains" headerText="MATERIA">
							<h:outputText value="#{item.horario.materia.nombre}" />
						</p:column>

						<p:column filterBy="#{item.grupo}" sortBy="#{item.grupo}"
							filterMatchMode="contains" headerText="PARALELO">
							<h:outputText value="#{item.grupo}" />
						</p:column>

						<p:column filterBy="#{item.aula}" sortBy="#{item.aula}"
							filterMatchMode="contains" headerText="AULA">
							<h:outputText value="#{item.aula}" />
						</p:column>
						<p:column filterBy="#{item.horario.lunes}"
							sortBy="#{item.horario.lunes}" filterMatchMode="contains"
							headerText="LUNES">
							<h:outputText value="#{item.horario.lunes}" />
						</p:column>
						<p:column filterBy="#{item.horario.martes}"
							sortBy="#{item.horario.martes}" filterMatchMode="contains"
							headerText="MARTES">
							<h:outputText value="#{item.horario.martes}" />
						</p:column>
						<p:column filterBy="#{item.horario.miercoles}"
							sortBy="#{item.horario.miercoles}" filterMatchMode="contains"
							headerText="MIERCOLES">
							<h:outputText value="#{item.horario.miercoles}" />
						</p:column>
						<p:column filterBy="#{item.horario.jueves}"
							sortBy="#{item.horario.jueves}" filterMatchMode="contains"
							headerText="JUEVES">
							<h:outputText value="#{item.horario.jueves}" />
						</p:column>
						<p:column filterBy="#{item.horario.viernes}"
							sortBy="#{item.horario.viernes}" filterMatchMode="contains"
							headerText="VIERNES">
							<h:outputText value="#{item.horario.viernes}" />
						</p:column>
						<p:column filterBy="#{item.horario.sabado}"
							sortBy="#{item.horario.sabado}" filterMatchMode="contains"
							headerText="SABADO">
							<h:outputText value="#{item.horario.sabado}" />
						</p:column>
						<p:column filterBy="#{item.cupoTotal}" sortBy="#{item.cupoTotal}"
							filterMatchMode="contains" headerText="CUPO">
							<h:outputText value="#{item.cupoTotal}" />
						</p:column>
						<p:column filterBy="#{item.cupoDisponible}"
							sortBy="#{item.cupoDisponible}" filterMatchMode="contains"
							headerText="DISPONIBILIDAD">
							<h:outputText value="#{item.cupoDisponible}" />
						</p:column>



						<p:column headerText="Opciones" width="150" exportable="false">
							<!--  	action="#{tipoEmpaqueController.eliminar()}"-->

							<p:commandButton process="tblDatos1" icon="fa fa-check"
								style="width: min-content" title="Seleccionar" value="Seleccionar"
								update="@([id$=tblDatos])" styleClass="btn-primary"
								disabled="#{item.cupoDisponible==0}" action="#{inscripcionesController.incribirMateria()}">
								<f:setPropertyActionListener value="#{item}"
									target="#{inscripcionesController.ofertaSelect}"></f:setPropertyActionListener>
							</p:commandButton>

						</p:column>

					</p:dataTable>




					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							onclick="PF('dlg1').hide();">Cerrar</button>

					</div>



				</p:dialog>






				<BR />



			</h:form>
		</div>







	</ui:define>


</ui:composition>
